
body{
    background: linear-gradient(.25turn, #5455a3, #07021d);
    padding: 20px;
    margin-top: 10pz;
}
nav{
  padding-left:   10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    color: whitesmoke;
    font-size: 40px;
    margin-left: 30px;
}
.logo{
  width: 250px;
  height: 79.5px;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 10px ;
}
nav ul li a{
    text-decoration:  none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding-left: 40px;
    padding-right: 20px;
}
.btn{
    margin-right: 40px;
}
.login{
    text-decoration: none;
    margin-right: 40px;
    font-weight: 400;
    color: #fff;
}
.signup{
    text-decoration: none;
    display: inline-block;
    padding: 14px 27px;
    color: #fff;
    background-image: linear-gradient(45deg,#df4881,#c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
}
aside {
    float: left;
    padding-top: 20px;
    color: #fff;
    width: 260px; /* Adjust width as needed */
    padding-left: 20px;
    border-right-style: solid;
    height: 100vh;
    border-right-color: #A259FF;
  }
  aside p{
    
    font-size: 20px;
    color: #fff;
    display: block;
    padding: 12px;
    padding: 30px 20px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
  }
  aside a {
    font-size: 20px;
    color: #fff;
    display: block;
    padding: 12px;
    padding: 30px 20px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
  }
  
  aside a:hover {
    color: #fff;
    background: #A259FF;
    outline: none;
    position: relative;
    background-color: #A259FF;
    border-radius: 20px;
    /* border-bottom-left-radius: 20px; */
  }
  
  aside a i {
    margin-right: 5px;
  }
  
  aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    /* border-bottom-right-radius: 18px; */
    box-shadow: 0 20px 0 0 #A259FF;
  }
  
  aside a:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    /* border-top-right-radius: 18px; */
    box-shadow: 0 -20px 0 0 #A259FF;
  }
  
  aside p {
    margin: 0;
    padding: 40px 0;
  }
  
  body {
    font-family: 'Roboto';
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  
  .social {
    height: 0;  
  }
  
  .social i:before {
    width: 14px;
    height: 14px;
    font-size: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top:5px;
    right:5px;
  }

.search{
  margin-top: 30px;
  margin-bottom: 30px;
    flex-grow: 1;
    width: max-content;
    display: flex;
    align-items: center;
    padding-left: 290px;
}
.search input[type="search"] {
    width: 800px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    border-radius: 40px; /* Adjust border-radius for roundness */
    padding: 20px; /* Add padding for better appearance */
    border: 1px solid #ccc; 
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.container {
  margin-top: 20px;
  margin-left: 30px;
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  color: rgb(198, 204, 209);
  display: flex;
  flex-direction: column;
  width: clamp(30rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #3f3f3f;

}


.card__body {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}
